RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [R=403,L]

RewriteCond %{REQUEST_URI} /(.+)/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ https://api.kosciolwroclaw.pl/%1 [R=301,L]

RewriteCond %{REQUEST_URI} !(.+)/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ https://api.kosciolwroclaw.pl/$1/ [R=301,L]

RewriteCond %{HTTP_HOST} !^api\.(.*)$ [OR,NC]
RewriteCond %{HTTPS} off  
RewriteRule ^(.*)$ https://api.kosciolwroclaw.pl/$1 [R=301,L]
